
table.game {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

td.gamecell{
    height: 5rem;
    width: 3rem;
    font-size: calc(1.375rem + 1.5vw)
}


.btn-primary{
    margin: 15px;
}

#gamecaption{
    bottom: 3.5rem;
}

.gamecell:hover{
    background-color: lightgrey;
}


